.steps{
    background-image: url("../../material/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 280px;
    height: 600px;
    margin: 30px;
}
.step{
    display: flex;
    align-items: center;
    padding: 20px;
}
.stepNumber{
    color: white;
    padding: 0 10px;
    margin-right: 10px;
    font-size: 24px;
    border: 2px solid rgb(211, 211, 206);
    border-radius: 50%;
}
.stepStatusNo{
    color: rgb(211, 211, 206);
}
.stepStatuswork{
    color: white; 
    font-weight: 500;
}